<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pcap List/Upload</title>
        <link rel="shortcut icon" href="/static/fire.gif" type="image/gif" />
        <link rel="stylesheet" href="/static/jquery-plugins/tablesorter/themes/blue/style.css" type="text/css" id="" media="print, projection, screen" />
        <script src="/static/jquery-latest.js"></script>
        <script src="/static/jquery-plugins/tablesorter/jquery.tablesorter.min.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load('visualization', '1', {packages: ['corechart']});
        </script>
        <script type="text/javascript">
            function drawVisualization() {

                d = [
                {% for c in candle_sticks %}
                ['{{c.0}}',{%for kk in c.1%} {{kk.0}},{{kk.1}},{{kk.2}},{{kk.3}},"{{kk.4}}",{%endfor%}],
                {%endfor%}
                ];
                var ll = (d[0].length-1)/5;

                var data = new google.visualization.DataTable();
                data.addColumn('string','IP');
                for (var i = 0; i < ll; i++) {
                    data.addColumn('number');data.addColumn('number');data.addColumn('number');data.addColumn('number');data.addColumn({type:'string',role:'tooltip'})
                };
                data.addRows(d);

                var options = {
                legend:'none'
                };

                chart = new google.visualization.CandlestickChart(document.getElementById('chart_div'));
                chart.draw(data, options);

                var data2 = google.visualization.arrayToDataTable([
                    ['IP', 'Data Transfer'],
                    {%for ip_stat in ip_stats%}
                    ['{{ip_stat.0}}',{{ip_stat.1}}],
                    {%endfor%}
                    ]);


                var options = {
                    title: 'data transferred per ip',
                    hAxis: {title: 'Ip vs data transferred', titleTextStyle: {color: 'red'}},
                    bar:{groupWidth:'30%'}
                };
                chart2 = new google.visualization.ColumnChart(document.getElementById('chart2_div'));
                chart2.draw(data2,options);


                (new google.visualization.LineChart(document.getElementById("chart2_1_div"))).draw(google.visualization.arrayToDataTable([
                    ["No. of Ip Addresses", "% Data Transferred", "90% Line"],
                    {% for row in ip_cdf_stats %}
                    [{{row.0}}, {{row.1}}, 0.9],
                    {% endfor %}
                    ]), {"title": "IP data transfer cdf"});

                var org_stats = [
                ['Organization Name', 'Data Transferred'],
                {% for row in org_stats %}
                ["{{row.0}}", {{row.1.0}}],
                {% endfor %}
                ];

                var chart3 = new google.visualization.PieChart(document.getElementById('chart3_div'));
                chart3.draw(google.visualization.arrayToDataTable(org_stats), {title:"Data Transferred Per Organization"});

                (new google.visualization.LineChart(document.getElementById("chart3_1_div"))).draw(google.visualization.arrayToDataTable([
                    ["No. of Organizations", "% Data Transferred", "90% Line"],
                    {% for row in org_cdf_stats %}
                    [{{row.0}}, {{row.1}}, 0.9],
                    {% endfor %}
                    ]), {"title": "Org data transfer cdf"});

                var no_streams_with_time_array = [
                ["time", "no_streams"],
                {% for e in no_streams_with_time %}
                [{{e.0}}, {{e.1}}],
                {% endfor %}
                ];

                var no_streams_with_time_data = google.visualization.arrayToDataTable(no_streams_with_time_array);

                var chart4 = new google.visualization.LineChart(document.getElementById('chart4_div'));
                chart4.draw(no_streams_with_time_data, {'title': 'No. of streams with time'});

                (new google.visualization.LineChart(document.getElementById("chart4_1_div"))).draw(google.visualization.arrayToDataTable([
                    ["time", "no. connections to toi"],
                    {% for e in no_toi_connections_with_time%}
                    [{{e.0}}, {{e.1}}],
                    {% endfor %}
                    ]), {'title': 'No. of TOI connections with time'});

                var bandwidth_array = [
                ["time", "bandwidth", "Threshold", "No. of Retransmissions * 10 (for visibility)"],
                {% for e in bandwidth_data %}
                [{{e.1}}, {{e.4}}, {{e.5}}, {{e.6}}],
                {% endfor %}
                ];

                var bandwidth_data = google.visualization.arrayToDataTable(bandwidth_array);

                var chart5 = new google.visualization.ComboChart(document.getElementById('chart5_div'));
                var chart5_1 = new google.visualization.ComboChart(document.getElementById('chart5.1_div'));
                var chart5_2 = new google.visualization.ComboChart(document.getElementById('chart5.2_div'));
                chart5.draw(bandwidth_data, {'title': 'bandwidth with time', "seriesType": "line", "series": {2: {type: "bars"}}});
                chart5_1.draw(new google.visualization.arrayToDataTable([
                    ["time", "uplink bandwidth", "Threshold", "No. of Retransmissions * 10 (for visibility)"],
                    {% for e in bandwidth_uplink_data %}
                    [{{e.1}}, {{e.4}}, {{e.5}}, {{e.6}}],
                    {% endfor %}
                    ]), {"title": "uplink bandwidth with time", "seriesType": "line", "series": {2: {type: "bars"}}});
                chart5_2.draw(new google.visualization.arrayToDataTable([
                    ["time", "downlink bandwidth", "Threshold", "No. of Retransmissions * 10 (for visibility)"],
                    {% for e in bandwidth_downlink_data %}
                    [{{e.1}}, {{e.4}}, {{e.5}}, {{e.6}}],
                    {% endfor %}
                    ]), {"title": "downlink bandwidth with time", "seriesType": "line", "series": {2: {type: "bars"}}});

                var no_streams_per_organization = google.visualization.arrayToDataTable([
                    ["Organization Name", "No. Streams"],
                    {% for row in org_stats %}
                    ["{{row.0}}", {{row.1.1}}],
                    {% endfor %}
                    ]);

                var chart6 = new google.visualization.ColumnChart(document.getElementById('chart6_div'));
                chart6.draw(no_streams_per_organization, {'title': 'no_streams_per_organization'});

                var dns_requests_per_organization = new google.visualization.arrayToDataTable([
                    ["Organization Name", "DNS Requests"],
                    {% for row in org_stats %}
                    ["{{row.0}}", {{row.1.2}}],
                    {% endfor %}
                    ]);
                var chart7 = new google.visualization.ColumnChart(document.getElementById('chart7_div'));
                chart7.draw(dns_requests_per_organization, {'title': 'dns_requests_per_organization'});

                var rtt_data = new google.visualization.arrayToDataTable([
                    ["Time", "RTT"],
                    {% for row in rtt_data %}
                    [{{row.0}}, {{row.1}}],
                    {% endfor %}
                    ]);
                var chart8 = new google.visualization.ScatterChart(document.getElementById('chart8_div'));
                chart8.draw(rtt_data, {'title': 'RTT With Time'});

                var streams_stats = new google.visualization.arrayToDataTable([
                    ["Stream No.", "Upstream Mean", "Upstream St.Dev.", "Downstream Mean", "Downstream St.Dev."],
                    {% for row in streams_stats %}
                    [{{row.0}}, {{row.1.1}}, {{row.1.2}}, {{row.1.3}}, {{row.1.4}}],
                    {% endfor %}
                    ]);
                var chart9 = new google.visualization.LineChart(document.getElementById("chart9_div"));
                chart9.draw(streams_stats, {"title": "Statistics for different tcp streams"});



                var chart10 = new google.visualization.LineChart(document.getElementById("chart10_div"));
                var chart11 = new google.visualization.LineChart(document.getElementById("chart11_div"));
                chart10.draw(new google.visualization.arrayToDataTable([
                    ["Stream No.", "Upstream Mean", "Upstream St.Dev."],
                    {% for row in streams_stats %}
                    [{{row.0}}, {{row.1.1}} * 1000, {{row.1.2}} * 1000],
                    {% endfor %}
                    ]), {"title": "Upstream"});
                chart11.draw(new google.visualization.arrayToDataTable([
                    ["Stream No.", "Downstream Mean", "Downstream St.Dev."],
                    {% for row in streams_stats %}
                    [{{row.0}}, {{row.1.3}} * 1000, {{row.1.4}} * 1000],
                    {% endfor %}
                    ]), {"title": "Downstream"});
                ip_list = [
                    {% for row in streams_stats %}
                    "{{row.1.0}}",
                    {% endfor %}
                ];


                (new google.visualization.PieChart(document.getElementById('chart15_div'))).draw(google.visualization.arrayToDataTable([
                    ['Content Type', "No. of Objects fetched"],
                    {% for row in categories %}
                    ["{{row.0}}", {{row.1.0}}],
                    {% endfor %}
                    ]), {'title' : 'Content Types and No. of objects fetched', "pieSliceText": "value"});
                (new google.visualization.PieChart(document.getElementById('chart16_div'))).draw(google.visualization.arrayToDataTable([
                    ['Content Type', "Data transferred"],
                    {% for row in categories %}
                    ["{{row.0}}", {{row.1.1}}],
                    {% endfor %}
                    ]), {'title' : 'Content Types and Data transferred', "pieSliceText": "value"});

                (new google.visualization.PieChart(document.getElementById('chart17_div'))).draw(google.visualization.arrayToDataTable([
                    ['Content Type', "No. of Objects fetched"],
                    {% for row in categories_2 %}
                    ["{{row.0}}", {{row.1.0}}],
                    {% endfor %}
                    ]), {'title' : 'Content Types and No. of objects fetched', "pieSliceText": "value"});
                (new google.visualization.PieChart(document.getElementById('chart18_div'))).draw(google.visualization.arrayToDataTable([
                    ['Content Type', "Data transferred"],
                    {% for row in categories_2 %}
                    ["{{row.0}}", {{row.1.1}}],
                    {% endfor %}
                    ]), {'title' : 'Content Types and Data transferred', "pieSliceText": "value"});

                (new google.visualization.PieChart(document.getElementById('chart19_div'))).draw(google.visualization.arrayToDataTable([
                    ['Data Type', "Data transferred"],
                    {% for row in content_wise_data %}
                    ["{{row.0}}", {{row.1}}],
                    {% endfor %}
                    ]), {'title' : 'Data Types and Data transferred', "pieSliceText": "value"});
                (new google.visualization.PieChart(document.getElementById('chart20_div'))).draw(google.visualization.arrayToDataTable([
                    ['Data Type', "No. of hosts"],
                    {% for row in content_wise_data %}
                    ["{{row.0}}", {{row.2}}],
                    {% endfor %}
                    ]), {'title' : 'Data Types and No. of hosts', "pieSliceText": "value"});
                (new google.visualization.PieChart(document.getElementById('chart21_div'))).draw(google.visualization.arrayToDataTable([
                    ['Data Type', "No. of objects fetched"],
                    {% for row in content_wise_data %}
                    ["{{row.0}}", {{row.3}}],
                    {% endfor %}
                    ]), {'title' : 'Data Types and No. of objects fetched', "pieSliceText": "value"});

            }

            google.setOnLoadCallback(drawVisualization);
            function redraw()
            {
                var selected_options = $(document.getElementsByName("selected_ips")).find("option:selected")
                var ips=[]
                for (var i = 0; i < selected_options.length; i++) {
                    ips.push(selected_options[i].value);
                };
                var d2 = [];
                var maxlen = 0
                for (var i = 0; i < d.length; i++) {
                    var loc = $.inArray(d[i][0],ips);
                    if(loc!=-1)
                        {
                            var l = $.inArray(0,d[i])
                            if(l==-1)
                                l=d[i].length;
                            while(l<d[i].length-4)
                            {
                                if(d[i][l]==0&&d[i][l+1]==0&&d[i][l+2]==0&&d[i][l+3]==0)
                                    break;
                                l+=4;
                            }
                            maxlen = maxlen>l?maxlen:l;
                            d2.push(d[i]);
                        }
                    }
                // alert(maxlen);
                var d3 = [];
                for (var i = 0; i < d2.length; i++) {
                    d3.push(d2[i].slice(0,maxlen))
                };
                var data = google.visualization.arrayToDataTable(d3,true);

                var options = {
                legend:'none'
                };
                chart.draw(data, options);


            }
    </script>
    <script type="text/javascript">
    $(function(){
        $("table").tablesorter();
        $("#harviewer").html("<iframe src='{{HARVIEWER_URL}}?inputUrl="+location.origin+"{{har_url}}"+"' style='width:1000px; height:1600px;'></iframe>")
    });
    </script>
    </head>
    <body>
        <table class="tablesorter">
            <tr>
                <td>Pcap File</td>
                <td><a href="{{pcap_url}}">{{pcap_file}}</a> </td>
            </tr>
            <tr>
                <td>CSV file</td>
                <td><a href="{{csv_url}}">{{csv_file}}</a> </td>
            </tr>
            <tr>
                <td>No. of different IP Streams</td>
                <td>{{no_ip_streams}}</td>
            </tr>
            <tr>
                <td>No. of different TCP Streams</td>
                <td>{{no_tcp_streams}}</td>
            </tr>
            <tr>
                <td>Total waste TCP Streams</td>
                <td>{{no_tcp_waste_streams}}({{percent_waste_streams}}%)</td>
            </tr>
            <tr>
                <td>Total Data transfer</td>
                <td>{{total_data_transfer}}</td>
            </tr>
            <tr>
                <td>Total data wasted</td>
                <td>{{total_data_waste}}({{percent_data_waste}}%)</td>
            </tr>
            <tr>
                <td>Total dns requests</td>
                <td>{{total_dns_requests}}</td>
            </tr>
            <tr>
                <td>Mean DNS response time</td>
                <td>{{mean_dns_response_time}}</td>
            </tr>
        </table>
        <div id="ips">
            choose the ips for redrawing the graph:
            <select multiple="multiple" name="selected_ips" style="height:300px;">
            {% for ip in ips %}
            <option value="{{ip}}">{{ip}}</option>
            {%endfor%}
            </select>
            <button onclick="redraw();">Redraw</button>
        </div>
        <div id="chart_div" style="width:6900px;height:1000px;overflow:scroll;"></div>
        <div id="chart2_div" style="width:3900px;height:1000px;overflow:scroll;"></div>
        <div id="chart2_1_div" style="width:1000px;height:1000px;overflow:scroll;"></div>
        <div id="chart3_div" style="width: 1000px; height: 600px;" name="chart3"></div>
        <div id="chart3_1_div" style="width:1000px;height:1000px;overflow:scroll;"></div>
        <div id="chart4_div" style="width: 1000px; height: 600px;" name="chart4"></div>
        <div id="chart4_1_div" style="width: 1000px; height: 600px;" name="chart4.1"></div>
        <div id="chart5_div" style="width: 1000px; height: 600px;" name="chart5"></div>
        <div id="chart5.1_div" style="width: 1000px; height: 600px;" name="chart5.1"></div>
        <div id="chart5.2_div" style="width: 1000px; height: 600px;" name="chart5.2"></div>
        <div id="chart6_div" style="width: 2000px; height: 600px;" name="chart6"></div>
        <div id="chart7_div" style="width: 2000px; height: 700px;" name="chart7"></div>
        <div id="chart8_div" style="width: 2000px; height: 700px;" name="chart8"></div>
        <div id="chart9_div" style="width: 3000px; height: 700px;" name="chart9"></div>
        <div id="chart10_div" style="width: 3000px; height: 700px;" name="chart10"></div>
        <div id="chart11_div" style="width: 3000px; height: 700px;" name="chart11"></div>
        <div id="chart12_div" style="width: 3000px; height: 700px;" name="chart12"></div>
        <div id="chart13_div" style="width: 3000px; height: 700px;" name="chart13"></div>
        <div id="all_streams_data_div">
            <table class="tablesorter">
                <thead>
                    <tr class="even">
                        <th>Stream No.</th>
                        <th>Other IP</th>
                        <th>Data transferred</th>
                        <th>Start Time</th>
                        <th>Duration</th>
                        <th>Number of Objects transferred</th>
                        <th>Bandwidth for the stream</th>
                        <th>Mean, variance of rtt(uplink)</th>
                        <th>Mean, variance of rtt(downlink)</th>
                        <th>urls of objects transferred</th>
                        <th>Content Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in all_streams_data %}
                    <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
                        <td>{{row.0}}</td>
                        <td>{{row.9}}</td>
                        <td>{{row.3}}</td>
                        <td>{{row.4}}</td>
                        <td>{{row.5}}</td>
                        <td>{{row.6}}</td>
                        <td>{{row.8}}</td>
                        <td>{{row.10}}, {{row.11}}</td>
                        <td>{{row.12}}, {{row.13}}</td>
                        <td>{%for item in row.7 %}<a href="{{item.1}}" target="_blank">{{item.0}}</a>, {% endfor %}</td>
                        <td>{{row.16}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="tablesorter">
                <thead>
                    <tr class="even">
                        <th>Other IP</th>
                        <th>urls of objects transferred</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in all_streams_data %}
                    <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
                        <td>{{row.9}}</td>
                        <td>{%for item in row.7 %}{{item.1}}::{% endfor %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id = "all_objects_div" style="width:1000px;">
            <table width = 1000px class="tablesorter">
                <thead>
                    <tr class = "even" width=1000px>
                        <th width=300px>Stream No.</th>
                        <th width=300px>URL</th>
                        <th width=100px>Download Start time</th>
                        <th width=100px>Time to download</th>
                        <th width=100px>Content Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in all_objects_data %}
                    <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
                        <td>{{item.0}}</td>
                        <td><a href="{{item.2}}" target = "_blank">{{item.1}}</a></td>
                        <td>{{item.3}}</td>
                        <td>{{item.4}}</td>
                        <td>{{item.5}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="dns_div">
            {%include "hosts_list_template.html" %}
        </div>
        <div id = "harsummary">
            Total Size = {{totalSize}} Bytes
            <br />
            <div id = "chart15_div" style = "width:600px; height:500px;"></div>
            <div id = "chart16_div" style = "width:600px; height:500px;"></div>
            <div id = "chart17_div" style = "width:600px; height:500px;"></div>
            <div id = "chart18_div" style = "width:600px; height:500px;"></div>
            <table width = "1000px" class="tablesorter">
                <thead>
                    <tr class="even">
                        <th width="100px">Type</th>
                        <th width = "100px">No. of objects</th>
                        <th width = "100px">Downloaded(KB)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in categories_2 %}
                    <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
                        <td>{{row.0}}</td>
                        <td>{{row.1.0}}</td>
                        <td>{{row.1.1}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            <table width = "1000px" class="tablesorter">
                <thead>
                    <tr class="even">
                        <th width="100px">Type</th>
                        <th width = "100px">No. of objects</th>
                        <th width = "100px">Downloaded(KB)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in categories %}
                    <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
                        <td>{{row.0}}</td>
                        <td>{{row.1.0}}</td>
                        <td>{{row.1.1}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            <table class="tablesorter">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Data Transferred</th>
                        <th>No. of Hosts</th>
                        <th>No. of Objects fetched</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in content_wise_data %}
                    <tr>
                        <td>{{item.0}}</td>
                        <td>{{item.1}}</td>
                        <td>{{item.2}}</td>
                        <td>{{item.3}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id = "chart19_div" style = "width:600px; height:500px;"></div>
            <div id = "chart20_div" style = "width:600px; height:500px;"></div>
            <div id = "chart21_div" style = "width:600px; height:500px;"></div>
        </div>
        <div id = "harviewer" style = "width:1000px;height:800px;"> </div>

    </body>


</html>
